/*
1. 변수설정이 가능합니다
$변수명 : 속성값;

2. inport
sass파일을 분리해서 사용함으로써
유지보수에  좀더 편리합니다
단 분리시 원파일이름과 부분파일 이름은
_로 구분해야합니다

3. nesting중첩
_기존 css처럼 부모를 계속 적어주는것이 아니라
들여쓰기로 자식을 구분해서 네스팅해줍니다

4. mixin
사스의 꽃 : 함수를 만들듯이 자주쓰는것을
패키지로 만들어서 재활용할 수있습니다

5. 반복문이 가능합니다
@for $i from 시작숫자 through 마지막숫자 {
    //반복코드
}

*/ 

$bgColor : #ccc;
$fontColor : #555;